<div class="container mx-auto">
  <div class="flex min-h-screen items-center">
    <div class="flex-1 bg-gray-50 mx-auto h-full max-w-4xl rounded-lg shadow-xl">
      <div class="flex flex-col md:flex-row">
        <div class="flex items-center justify-center p-6 sm:p-12 w-full">
          <div class="w-full items-center">
            <p class="mb-4 hello-text text-center">Hello There !</p>
            <h3 class="mb-4 text-lg text-center description">Let's buy some insurance. It is going to take only a few steps</h3>
            <p class="text-center"><button type="button" class="startBtn rounded bg-black text-white shadow-xl py-2 px-3 w-48 transition ease-in-out delay-10 hover:-translate-y-1 hover:bg-indigo-500 duration-300" [routerLink]="['','page2']">Start</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
